<div class="uk-container">
    <div class="uk-grid-column-medium uk-margin-large-top uk-margin-large-bottom uk-grid-row-large uk-padding-small uk-child-width-1-2@m uk-grid" uk-grid>
        <!-- First Image and Modal -->
        <div class="uk-text-left@m uk-text-center">
            <h1 style="color:#000">Acesso Rápido a Sistemas Públicos e Serviços do Estado</h1>
            <p>O AngolanVPN conecta você diretamente a servidores localizados em Angola, tornando o acesso a sistemas públicos mais rápido e eficiente. Ideal para o Portal do Cidadão, SIGFE e outros serviços essenciais.</p>
        </div>

        <!-- Second Image and Modal -->
        <div class="uk-text-center">
            <img class="uk-border-rounded uk-box-shadow-large" src="imagens/vpn.jpg" alt="Angolan VPN Servidores" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>