<div class="uk-container">

    <div class="uk-grid-column-medium uk-margin uk-grid-row-large uk-padding uk-child-width-1-2@m uk-grid">
        <!-- First Image and Modal -->
        <div class="uk-text-left">
            <h1 style="color:#000">Acesso Rápido a Sistemas Públicos e Serviços do Estado</h1>
            <p>O AngolanVPN conecta você diretamente a servidores localizados em Angola, tornando o acesso a sistemas públicos mais rápido e eficiente. Ideal para:</p>
        </div>
        

        

        <!-- Second Image and Modal -->
        <div class="uk-text-center" uk-parallax="bgy: -200">
           
            <img class="uk-border-rounded" src="imagens/vpn.png" alt="" >


        </div>

        
    </div>

</div>