<footer class="uk-navbar-container uk-border-rounded uk-container">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><a href="#">Termos e Condições</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href="#"><i class="uk-icon" uk-icon="icon: facebook"></i></a></li>
                    <li><a href="#"><i class="uk-icon" uk-icon="icon: twitter"></i></a></li>
                    <li><a href="#"><i class="uk-icon" uk-icon="icon: instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

