* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p, a, li, span, div {
  font-family: 'Ubuntu', sans-serif;
}
